.chat-input-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 0;
    width: 95%;
    min-height: 40px;
    overflow-y: auto;
    margin: 10px auto;  
    
    
  }
  
  .chat-input {
    outline: none;
    border: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 20px;
    resize: none;
    overflow-y: auto;

    
  }
  